<div class="row text-md-center">
    <div class="row">
        <div class="col-md-2" style="border: 1px solid white;"></div>
        <div class="col-md-2" style="border: 1px solid white;">Morning</div>
        <div class="col-md-2" style="border: 1px solid white;">Lunch</div>
        <div class="col-md-2" style="border: 1px solid white;">Afternoon</div>
        <div class="col-md-2" style="border: 1px solid white;">Overtime</div>
        <div class="col-md-2" style="border: 1px solid white;">Absence</div>
    </div>
    <div class="row">
        <div class="col-md-1">Day</div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Start</div>
        <div class="col-md-1">End</div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Start</div>
        <div class="col-md-1">End</div>
    </div>
    <div class="row">
        <div class="col-md-1">Monday</div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="col-md-5"><input type="text"/></div>
            <div class="col-md-5"><input type="text"/></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1">Start</div>
        <div class="col-md-1">End</div>
    </div>
</div>

