<div class="main-sidebar sidebar">

    <div class="nav nav-sidebar">
        <div><div class="slide"><i class="fa fa-home fa-2x"></i></div></div>
        <div><div class="slide"><i class="fa fa-cloud fa-2x"></i></div></div>
        <div><div class="slide"><i class="fa fa-cubes fa-2x"></i></div></div>
        <div><div class="slide"><i class="fa fa-feed fa-2x"></i></div></div>
        <div><div class="slide"><i class="fa fa-line-chart fa-2x"></i></div></div>
    </div>

    <!--<ul class="nav nav-sidebar">-->
        <!--<li ng-repeat="n in sidebar.app" ng-click="select(n)">-->
            <!--<a href="" id="{{n.name}}" ng-show="n.hideNav == 'false'" ui-sref="{{n.name}}" class="fa fa-home"></a>-->
        <!--</li>-->
    <!--</ul>-->

</div>